body{
    background-color: grey;
}
.container{
    display: flex;
    justify-content: center;    
}

.botao{
    width: 200px;
    height: 50px;
    margin-top: 200px;
    border: none;
    background-color: rgb(245, 209, 131);
    color: rgb(252, 249, 249);   
    border-radius: 10px; 
}
.flash{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flash{
    0%{
        background-color: rgb(233, 89, 70);
        
    }
    50%{
        background-color: rgb(255, 189, 169); 
    }
    100%{
        background-color:rgb(233, 89, 70);
    }
}