body{
    background: linear-gradient(-45deg, #583d72, #9f5f80, #ffba93,#ff8e71);
    background-size: 300%;
    animation: colors 10s linear infinite;
}

@keyframes colors{
    0%{
      background-position: 0% 50%;  
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

